.row1 {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px;
}

.row2 {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;

    padding: 20px;
    margin-bottom: 30px;
}

legend {
    margin: auto;
}

article {
    width: fit-content;
    margin: 0px auto;
}

.sign_up {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: black;
    border-image: initial;
}
