.table {
    display: flex;
    padding: 0%;
    margin: 50px auto;
    max-width: 95%;
    border: #6d5644;
    overflow-x: scroll;
    overflow-y: scroll;
    border-collapse: collapse;
}

.table > tbody > tr > td {
    text-align: center;
    padding: 10px;
}

.table > tbody > tr > th {
    text-align: center;
    padding: 20px;
}

.tableButton {
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

.design_table {
    margin: 25px auto;
    width: 100%;
    text-align: right;
    border: #6d5644;
    border-collapse: collapse;
}

.design_table > tr > th {
    text-align: center;
    height: 40px;
}
.design_table > tr > td {
    text-align: right;
    /* border-right: 1px solid black; */
    padding-right: 5%;
}
